* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  min-width: 100%;
  min-height: 100vh;
  background-color: dimgrey;
}

main h1 {
  text-align: center;
  padding-top: 1rem;
}

.outer-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 10px;
}

.outer-container input {
  max-width: 300px;
  width: 300px;
  padding-inline: 1.2rem;
  padding-block: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
}
.content-container {
  max-width: 300px;
  padding: 1rem;
  border-left: 2px solid white;
  border-radius: 10px;
  margin: 3rem auto;
  background-color: rgb(86, 86, 86);
}

.content-container p {
  padding-inline: 0.5rem;
  padding-block: 1rem;
}
